.recipe_viewer {
 display:flex;
 flex-wrap: wrap;
}


.recipe_card img {
  height: 90px;
  width: 90px;
  width: 100%;
  height: auto;
  object-fit: cover;
  max-height: 100vh;
}


.nav{
  float: left;
}

.card{
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  
}

.search{
  float:right;
  margin-left: 5em; 
  margin-right: 0;
}
.recipePage{

  margin-left: calc(90% - 52 vw);
  width: 260vw;
}