.recipe_viewer {
 display:flex;
}

.recipe_card {

}

.card{
  align-content:center;
}

.recipe_card img {
  height: 90px;
  width: 90px;
}


.nav{
  float: left;
}

.search{
  float:right;
  margin-left: 5em; 
  margin-right: 0;
}