.recipe_viewer {
 display:flex;
}

.card{
  align-content:center;
}

.recipe_card img {
  height: 90px;
  width: 90px;
  width: 100%;
  height: auto;
  object-fit: cover;
  max-height: 100vh;
}


.nav{
  float: left;
}

.search{
  float:right;
  margin-left: 5em; 
  margin-right: 0;
}
.recipePage{

  margin-left: calc(90% - 52 vw);
  width: 260vw;
}

.card-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  max-height: 50vh;
}